@model HomeViewModel

<partial name="_Carousel" />

<h2>Product On Sale</h2>

<div class="row">

    @foreach(var Product in Model.ProductOnSale)
    {
        <partial name="_ProductCard" model="Product" />
    }

</div>
